<html lang="en">
<body>
<style>
    .nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        /* justify-content: center; */
        height: 4vw;
    }
    .logo{
        
    }
</style>
<nav class="nav">
    <div class="logo">
        heeyyeyey
    </div>
    
    <div class="mid-part">
        <a href="/">Home</a>
        <a href="/agency">For Agencies</a>
        <a href="/spaceguy">Spaceguy Dashboard</a>
    </div>

    <div class="login">

    </div>
</nav>    
</body>
</html>