<html lang="en">
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
<style>
    *{
        box-sizing: border-box;
        cursor: none;
    }
    .nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 15vh;
        font-size: 1.2vw;
        padding: 0 2vw 0 2vw;
        /* gap: 20vw; */
        border-bottom: #545454 1px solid;
    }
    .logo > svg {
        width: 2.5vw;
        aspect-ratio: initial;
    }
    /* .logo{
        margin-left: 2vw;
    } */
    .mid-part{
        display: flex;
        gap: 2.5vw;
        /* margin-right: 2vw; */
    }
    .btn{
        transition: 0.3s;
    }
    .btn:hover{
        color: #fd532f;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #000;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #545454;
    }
    .cursor {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fd532f;
        mix-blend-mode: difference;
        position: fixed;
        z-index: 999;
        pointer-events: none;
        transition: opacity .4s;
        top: -30px;
        left: -30px;
    }

    .cursor-f {
        position: fixed;
        border-radius: 50%;
        border: 1px dashed #fd532f;
        width: 30px;
        height: 30px;
        pointer-events: none;
        animation: spin 2.6s linear infinite paused;
        transition: background-color .3s;
    }

    .cursor.clicked .cursor-f {
        background-color: rgba(234, 227, 207, 0.12);
    }

    .cursor.hidden {
        opacity: 0;
    }

</style>
<nav class="nav" id="nav">
    <a href="/">
        <div class="logo">
            <svg width="323" height="361" viewBox="0 0 323 361" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 320.682C0 270.381 39.5173 229.31 89.2 226.821C109.733 239.412 133.888 246.672 159.739 246.672C185.655 246.672 209.867 239.376 230.432 226.727C281.321 227.894 322.216 269.513 322.216 320.683C322.216 341.857 305.05 359.023 283.876 359.023H228.155V314.997C228.155 301.922 217.555 291.322 204.479 291.322H117.737C104.661 291.322 94.0616 301.922 94.0616 314.997V359.023H38.3404C17.1656 359.023 0 341.857 0 320.682Z" fill="white"/>
                <path d="M114.643 326.445C114.643 320.168 119.731 315.079 126.008 315.079V315.079C132.285 315.079 137.374 320.168 137.374 326.445V360.835H114.643V326.445Z" fill="#FD532F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M159.739 223.097C221.346 223.097 271.288 173.155 271.288 111.548C271.288 49.9419 221.346 0 159.739 0C98.1328 0 48.1909 49.9419 48.1909 111.548C48.1909 173.155 98.1328 223.097 159.739 223.097ZM106.324 65.9264C88.6726 65.9264 74.363 80.236 74.363 97.8879V112.163C74.363 149.428 104.572 179.637 141.837 179.637H180.379C217.644 179.637 247.853 149.428 247.853 112.163V97.8879C247.853 80.2361 233.543 65.9264 215.891 65.9264H106.324Z" fill="white"/>
                <circle cx="193.835" cy="326.286" r="11.0909" fill="#FD532F"/>
                <rect x="36.825" y="67.4304" width="31.5944" height="88.2359" rx="5.91879" fill="white"/>
                <rect x="251.21" y="67.4304" width="31.5944" height="88.2359" rx="5.91879" fill="white"/>
                <path d="M125.284 77.0935L134.59 102.243L159.739 111.549L134.59 120.854L125.284 146.003L115.978 120.854L90.8291 111.549L115.978 102.243L125.284 77.0935Z" fill="#FD532F"/>
            </svg>                
        </div>
    </a>
    <% if (user) { %>
        <div class="mid-part">
            <a class="btn" href="/">Home</a>
            <a class="btn" href="/spaceguy">For Spaceguys</a>
            <a class="btn" href="/agency">For Agencies</a>
            <a class="btn" href="/spaceguy/ai">Companion</a>
            <a class="btn" href="/logout">Logout</a>
        </div>
    <% } else if (!user) { %>
        <div class="mid-part">
            <a class="btn" href="/">Home</a>
            <a class="btn" href="/spaceguy">For Spaceguys</a>
            <a class="btn" href="/agency">For Agencies</a>
            <a class="btn" href="/spaceguy/ai">Companion</a>
            <a class="btn" href="/login">Login</a>
            <a class="btn" href="/register">Register</a>
        </div>
    <% } %>
</nav>    
</body>
</html>

<script>
    const cursor = document.createElement('div');
    cursor.className = 'cursor';
    document.body.appendChild(cursor);

    const cursorF = document.createElement('div');
    cursorF.className = 'cursor-f';
    cursor.appendChild(cursorF);

    let cursorX = 0;
    let cursorY = 0;
    let pageX = 0;
    let pageY = 0;

    function lerp(start, end, amount) {
    return (1 - amount) * start + amount * end;
    }

    if ('ontouchstart' in window) {
    cursor.style.display = 'none';
    cursorF.style.display = 'none';
    }

    document.addEventListener('mouseleave', () => cursor.classList.add('hidden'));
    document.addEventListener('mouseenter', () => cursor.classList.remove('hidden'));

    let clicked = false;
    let startY, endY;

    function mousedown(e) {
    cursor.classList.add('clicked');
    clicked = true;
    startY = e.clientY || e.touches[0].clientY || e.targetTouches[0].clientY;
    }

    function mouseup(e) {
    cursor.classList.remove('clicked');
    endY = e.clientY || endY;
    if (clicked && startY && Math.abs(startY - endY) >= 40) {
        go(signToDir[Math.sign(startY - endY)]);
        clicked = false;
        startY = null;
        endY = null;
    }
    }

    window.addEventListener('mousedown', mousedown, false);
    window.addEventListener('touchstart', mousedown, false);
    window.addEventListener('touchmove', e => {
    if (clicked) {
        endY = e.touches[0].clientY || e.targetTouches[0].clientY;
    }
    }, false);
    window.addEventListener('touchend', mouseup, false);
    window.addEventListener('mouseup', mouseup, false);

    window.addEventListener('mousemove', e => {
    pageX = e.clientX;
    pageY = e.clientY;
    gsap.to(cursor, { duration: .01, left: e.clientX - 4, top: e.clientY - 4 });
    });

    function loop() {
    if (cursorX !== pageX || cursorY !== pageY) {
        cursorX = lerp(cursorX, pageX, .2);
        cursorY = lerp(cursorY, pageY, .2);
        gsap.to(cursorF, { duration: .01, left: cursorX - 15, top: cursorY - 15 });
    }
    requestAnimationFrame(loop);
    }

    loop();

</script>