<% layout('layout') -%>
    <style>
        body {
            display: flex;
            height: 100vh;
            flex-direction: column;
            align-items: center;
        }

        #main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        #main form {
            width: 100%;
            margin: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vmin;
        }

        form button {
            color: #111;
            background-color: #fd532f;
            padding: 1.5vmin 2vmin;
            border-radius: 5px;
            font-size: 3vh;
            font-weight: bold;
            border: none;
        }

        p {
            color: #818080;
            text-align: center;
            width: 90%;
        }

        h1 {
            color: #fd532f;
        }

        button {
            padding: 1vmin;
            background-color: #fd532f;
            border-radius: 10px;
            color: black;
            border: none;
            font-weight: bold;
        }
/* 
        #code {
            font-size: 5vh;
        } */

        #content {
            width: 50vw;
            background-color: #111;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 3vh;
        }
        .agents {
            width: 50vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            gap: 2vw;
        }
        .agent {
            width: fit-content;
            display: flex;
            flex-direction: column;
            padding: 2vh;
            background: #fd532f;
            color: #000;
            border-radius: 5px;
        }
    </style>
    <%- include ./components/navLanding %>

    <% if (reqAgency) { %>
        <div id="main">
                <div id="content">

                    Here's your agency pass code. <span style="color: #fd532f;">Keep it secret</span> and share only with
                    your spaceguys.
                    <div>
                        <pre id="code" style="font-family: 'Space Grotesk'; font-weight: 600;"><%= reqAgency.id %></pre>
                    </div>
                </div>
                
                <h1>Your agents</h1>
                <% if (!reqAgency.registeredAgents) { %>
                    <p>You don't have any registered agents currently</p>
                <% } %>
                <div class="agents">
                        <% for (let i = 0; i < reqAgency.registeredAgents.length; i++) { %>
                            <div class="agent"><%= reqAgency.registeredAgents[i] %></div>
                            <% } %>
                        </div>
                    </div>

        <% } %>

        <% if (!reqAgency) { %>
            <div id="main">
                <h1>Buy Agency Pass</h1>
                <form action="/agency/buy" method="post">
                    <p style="color: #ffffff;">Buy a pass for your spaceguy to use as proof of employment. This provides
                        your spaceguy with
                        access to all the features we have to offer.</p>
                    <button>Buy a pass</button>
                </form>

            </div>
        <% } %>