<% layout('layout') -%>

    <div id="main">

        <a href="/register">/register</a> <br>
        <a href="/login">/login</a> <br>
        <a href="/spaceguy">/spaceguy</a> <br>
        <a href="/agency">/agency</a> <br>
        <a href="/code">/spaceguy/code</a> <br>
        <a href="/clean">/spaceguy/clean</a> <br>
        <a href="/health">/spaceguy/health</a>
    </div>