<% layout('layout') -%>
<script src="https://kit.fontawesome.com/1626222186.js" crossorigin="anonymous"></script>
<body>
</body>
<style>
    body {
        margin: 0;
        
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    p {
        line-height: 0;
    }
    
    #mainSos{
        background-color: #FD532f;
        padding: 1vw;
        color: #111111;
        font-size: 1vw;
        border:none;
        border-radius: 1vw;
        margin: 5vw;
    }
    .trackSos {
        width: 75vw;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.6px);
        -webkit-backdrop-filter: blur(1.6px);
        border: 1px solid rgba(255, 255, 255, 0.34);
    }
    
    .track {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
        color: #fd532f;
        padding: 2vw;
    }
    
    .trackChart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10vh;
        margin-top: -21vh;
        margin-bottom: 9vh;
    }
    
    .trackLine {
        position: absolute;
        left:21.5412vw;
        height: 35vh;
        width: 3px;
        z-index: -1;
        background: repeating-linear-gradient(to bottom,
        #8f8f8f 0,
        #8f8f8f 3px,
        transparent 1px,
        transparent 10px
        );
    }
    
    .fa-solid {
        color: #a7a7a7;
        font-size: 1.2vw;
        margin-right: 1.3vw;
        width: 1vw;
    }
    
    .fa-check{
        color: #111111;
        
        width: auto;
        margin-left: 1.25vw;
        margin-top: 0.1vw;
        z-index: 112837237;
    }
    .circle {
        height: 2vh;
        width: 2vh;
        background: #FD532f;
        border-radius: 100%;
        margin-right: 1.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .sosDone{
        background-color: #111111;
        height: 1vh;
        width: 1vh;
        border-radius: 100%;
    }
    .trackBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        /* gap: vh; */
    }
    
    .trackDesc{
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
        width: 20vw;
        
    }
    .trackHead{
        color:#8f8f8f;
        margin-top: 0.5vh;
        font-size: 1.05vw;
    }
    
    .details{
        margin-left: 2vw;
        font-size: 1.1vw;
    }
    .Stats{
        font-size: 1.5vw;
        margin: 2vw;
    }
    
    .trackTit{
        font-size: 1.2vw;
    }
    .trackMap{
        display: flex;
        align-items: center;
        justify-content:space-between;
        /* padding: 3vw; */
        width: 75vw;
        
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .mainIc{
        height: 10vw;
        width: 10vw;
    }
    .line1{
        height: 0.3vh;
        width: 47.5vw;
        background-color: #8f8f8f;
        position: absolute;
        margin-left: 11vw;
    }
    .line2{
        height: 0.3vh;
        width: 2.2vw;
        background-color: #8f8f8f;
        position: absolute;
        /* margin-left: 11vw; */
        right:22.5vw;
        visibility: hidden;
        
    }
    .rocket{
        width: 5vw;
        height: 5vw;
        position: absolute;
        right: 22vw;
        transition: left 0.01s
    }

    .distT{
        margin-top: 9vh;
        color: white;
        position: absolute;
    }
    .distT2{
        margin-top: 9vh;
        color: white;
        visibility: hidden;
        position: absolute;

        right:22vw;
    }
    </style>

<body>
    <nav><a href="/spaceguy">&#8592; Back to dashboard</a></nav>
    <h1 style="color:#FD532F; margin-top: 5vh;">SOS Portal</h1>
    <div class="trackSos">
        <p class="track">Track SOS</p>
        <div class="details">
            <p class="date"></p>
            <p>SOS ID A78BN2</p>
        </div>
        <br>
        <div class="Stats">
            <p class="speed"></p>
            <p class="distance"></p>
            <p class="eta"></p>
        </div>
        <div class="trackChart">
            <div class="trackLine"></i></div>
            <div class="trackBox">
                <div class="circle"><div class="sosDone"></div></div>
                <i class="fa-solid fa-exclamation" ></i>
                <div class="trackDesc">
                    <p class="trackTit">SOS Received</p>
                    <p class="trackHead">Spaceship will be launched soon</p>
                </div>
                <p>12:04</p>
            </div>

            <div class="trackBox">
                <div class="circle"><div class="sosDone"></div></div>
                <i class="fa-solid fa-shuttle-space fa-rotate-270"></i>
                <div class="trackDesc">
                    <p class="trackTit">Spaceship Launched</p>
                    <p class="trackHead">Spaceship is on your way</p>
                </div>
                <p>12:08</p>
            </div>

            <div class="trackBox">
                <div class="circle"></div>

                <i class="fa-solid fa-rocket fa-rotate-270"></i>
                <div class="trackDesc">
                    <p class="trackTit">Spaceship Reached</p>
                    <p class="trackHead">SOS ID: A78BN2 has been closed</p>
                </div>
                <p>12:40</p>
            </div>
        </div>
    </div>
    <div class="trackMap">
        <img class="mainIc" src="/spaceguyyyyy.png">
        <div class="line1"></div>
        <img class="rocket" src="/rocketguy.png">
        <div class="line2"></div>
        <p class="distT">asjdk</p>
        <p class="distT2">asdkjhahksd</p>

        <img class="mainIc" src="/aarthguy.png">
    </div>
</body>
<script>
    function displayDateTime(){
    const date = new Date();
    var day = date.getDay();
    var date_num = date.getDate();
    var month = date.getMonth();
    // console.log(month)
    switch (day){
        case 0:day="Sun";break;
        case 1:day="Mon";break;
        case 2: day="Tue";break;
        case 3: day="Wed";break;
        case 4: day="Thu";break;
        case 5: day="Fri";break;
        case 6: day="Sat";break;

    }
    // console.log(month)
    switch (month){

        case 0:month="Jan";break;
        case 1:month="Feb";break;
        case 2: month="Mar";break;
        case 3: month="Apr";break;
        case 4: month="May";break;
        case 5: month="Jun";break;
        case 6: month="Jul";break;
        case 7: month="Aug";break;
        case 8: month="Sep";break;
        case 9: month="Oct";break;
        case 10: month="Nov";break;
        case 11: month="Dec";break;


    }

    // console.log(month)
    var datep = document.getElementsByClassName("date")[0]
    datep.innerHTML = day + ", " + date_num.toString() + " " + month
    // console.log(day)

    var d = 8000;
    var s = 18000;
    var eta = (d / s)*60;

    var dist = document.getElementsByClassName("distance")[0]
    var speed = document.getElementsByClassName("speed")[0]
    var time = document.getElementsByClassName("eta")[0]

    const rocket = document.getElementsByClassName('rocket')[0];
    var rocketX = rocket.getBoundingClientRect().left;

    const line1 = document.getElementsByClassName("line1")[0];
    var line1X = line1.getBoundingClientRect().left
    var width1 = line1.offsetWidth;
    // console.log(line1.getBoundingClientRect().left)
    // console.log(width1)


    const line2 = document.getElementsByClassName("line2")[0];
    var width2 = line2.offsetWidth;
    var line2X = line2.getBoundingClientRect().left;

    var distT = document.getElementsByClassName("distT")[0];
    var disttx = distT.getBoundingClientRect().left;
    var distT2 = document.getElementsByClassName("distT2")[0];
    var distt2x = distT2.getBoundingClientRect().left+40;

    speed.innerHTML = "Speed " + s +" km/h";
    // datep.innerHTML = day + ", " + date_num.toString() + " " + month

    setInterval(() => {
        if (d >0){
        d-=1;
        }
        
        
        var ran = Math.floor(Math.random() * 4001) - 2000;

        if (s + ran > 16000 && s + ran < 20000){
            s+=ran
        }

        eta = d *60/ s;
        eta = eta.toFixed(2);
        
        dist.innerHTML = "Distance "+d + " km";
        time.innerHTML="ETA " + eta + " mins";
        speed.innerHTML = "Speed " + s +" km/h";
        
        rocketX -= 0.1; 
        width1 -=0.1
        disttx =(line1X + width1)/2 + 150;
        // console.log(disttx)
        // distt2x=(line2X + width2)/2 + 525;
        // console.log(disttx)
        distT.style.left = `${disttx}px`
        distT.innerHTML = d + " km"
        distT2.innerHTML = 8000-d + " km"
        // line2X -=0.68
        rocket.style.left = `${rocketX}px`;
        line1.style.width = `${width1}px`
        
        if(d<7250 && d > 0){
            line2.style.visibility = "visible"
            distT2.style.visibility = "visible"
            width2 +=0.1
            distt2x-=0.05;
            
            distT2.style.left = `${distt2x}px`
            line2.style.width = `${width2}px`

        }
    }, 100);
}
displayDateTime();
</script>
</html>