<% layout('layout') -%>
    <%- include ./components/navLanding %>

        <style>
            button {
                padding: 1.5vmin 2vmin;
                border-radius: 10px;
                background-color: #fd532f;
                color: black;
                font-size: 3vh;
            }

            #buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1vh;
            }

            .button {
                text-decoration: none;
                color: #fff;
            }

            button {
                outline: none;
                border: none;
            }

            #sosButton {
                width: 13vh;
                height: 13vh;
                border-radius: 50%;
                border: none;
                font-weight: bold;
                font-size: 1.8em;
                position: fixed;
                bottom: 2vh;
                right: 2vh;
            }

            #main {
                padding: 2vmin;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .dash-card-1 {
                height: fit-content;
                border-radius: 10px;
                background-color: #111;
            }

            #cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 60vw;
                justify-content: center;
                align-items: start;
                gap: 5vh;
                margin: 10vh;
            }

            #deets {
                display: flex;
                flex-direction: row;
                gap: 10vmin;
                justify-content: center;
                padding: 5vmin;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(1.6px);
                -webkit-backdrop-filter: blur(1.6px);
                border: 1px solid rgba(255, 255, 255, 0.34);
            }

            #mission {
                width: 20vw;
            }

            #vessel {
                width: 30vw;
            }

            .outlined {
                background-color: #111;
                border: 3px solid #fd532f;
                color: #fd532f;
                box-shadow: 0 4px 30px #fd532f33;
                transition-duration: 300ms;
                width: 13vw;
            }

            .outlined:hover {
                transform: translateY(-10px);
            }
            .not-spaceguy-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .not-spaceguy-form > h1 {
                color: #fd532f;
            }
            .not-spaceguy-form > button {
                width: 7vw;
            }
            .not-spaceguy-form > input {
                background-color: transparent;
                padding: 10px;
                border: 1px solid #545454;
                font-size: 1.1em;
                border-radius: 5px;
                width: 100%;
                margin: 2vmin 0;
            }
            .not-spaceguy-form > p {
                align-self: flex-start;
                margin: 0;
                margin-top: 1.5vw;
            }
        </style>

        <body>
            <% if (spaceGuy) { %>
                <div id="main">
                    <h1>Hi, <span style="color: #fd532f;">
                            <%= user.fname +' '+ user.lname %></span></h1>            
                <div id="deets">
                    
                    <div id="mission">
                        <h2 style="color: #fd532f; ">Mission Details</h2>
                        <p><%= spaceGuy.mission %></p>
                        <a href="/spaceguy/tracker" style="color: #fd532f; text-decoration: none;">Track Arni Tracker &rarr;</a>
                    </div>
                    
                    <div id="vessel">
                        <h2 style="color: #fd532f; ">Vessel Information</h2>
                        <p><span style="font-weight: bold;">Vessel Name: Stellar Harvester</span> <br>
                            A deep-space vessel equipped with robotic arms and AI, designed for debris collection and recycling. Converts space junk into usable materials, supporting mission sustainability and safety.</p>
                            <!-- <a href="" style="color: #fd532f; cursor: pointer;" >View Inventory &#8594;</a> -->
                        </div>
                    </div>
                    <div id="cards">
                                <div class="dash-card-1">
                        <a href="/spaceguy/clean"><button class="outlined">Clean Space Debris</button></a>
                    </div>
                    <div class="dash-card-1">
                        <a href="/spaceguy/food"><button class="outlined">View Food Inventory</button></a>
                    </div>
                    <div class="dash-card-1">
                        <a href="/spaceguy/health"><button class="outlined">View Health Statistics</button></a>
                    </div>
                    <div class="dash-card-1">
                        <a href="/spaceguy/ai"><button class="outlined">Talk to AI Companion</button></a>
                    </div>
                    <div class="dash-card-1">
                        <a href="/spaceguy/todo"><button class="outlined">Agency Tasks</button></a>
                    </div>
                </div>
                <div id="sos">
                    <a href="/spaceguy/sos">
                        <button id="sosButton">SOS</button>
                    </a>
                </div>
            </div>
        <% } else { %>
            <p style="margin-top: 5vw !important; margin: 0;">You're not a spaceguy yet</p>
            <form class="not-spaceguy-form" method="post" action="/spaceguy/code">
                <h1>Become a SpaceGuy now</h1>
                <p>Enter Agency code</p>
                <input type="text" placeholder="Enter code here" name="code">
                <button>Submit</button>
            </form>
        <% } %>
</body>
</html>