<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aa</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    OYEEEE

    share this code with your spaceguys <%= userdata.userid %>
</body>
</html>